.contact-jumbotron {
  background-image: url("../../assets/img/background/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

#youtube-btn {
  border-color: #f83f37;
  color: #f83f37;
}

#youtube-btn:hover {
  background-color: brown;
  color: #ffffff;
}

/* X (Twitter) */
.btn-x {
  border-color: #000000;
  color: #000000;
}

.btn-x:hover {
  background-color: #000000;
  color: #ffffff;
}

/* WhatsApp */
.btn-whatsapp {
  border-color: #25D366;
  color: #25D366;
}

.btn-whatsapp:hover {
  background-color: #25D366;
  color: #ffffff;
}

/* Instagram */
.btn-instagram {
  border-color: #C13584;
  color: #C13584;
}

.btn-instagram:hover {
  background-color: #C13584;
  color: #ffffff;
}